body {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

img {
  width: 200px;
  height: 200px;
  margin-right: 25px;
}

form {
  border: 1px solid black;
  width: 100%;
  margin-top: 25px;
}

section, form > div {
  margin: 15px;
}

.container {
  width: 600px;
}

.img-container, .todo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.completed-status-icon {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  margin-left: 0.375rem;
  background: rgb(34, 139, 34);
  border-radius: 50%;
}

.incomplete-status-icon {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  margin-left: 0.375rem;
  background: rgb(214, 61, 46);
  border-radius: 50%;
}