body {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

img {
  width: 200px;
  height: 200px;
  margin-right: 25px;
}

form {
  border: 1px solid black;
  width: 100%;
  margin-top: 25px;
}

section, form > div {
  margin: 15px;
}

.imgContainer {
  display: flex;
}

.character {
  display: flex;

}

.characterCard {
  display: flex;
  flex-direction: column;
  flex: 3 1 0%
}